<a href="https://colab.research.google.com/github/Dil8eep/PWSKILLS_DATA_SCIENCE-_PRO_FULLSTACK/blob/main/Assignment_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Given an array, check if it contains any duplicates or not.
###arr = [1, 2, 4, 2, 5, 9]
###Output = True

In [3]:
def check(arr):
  arr2=[]
  for i in arr:
    if i not in arr:
      arr2.append(i)
    else:
      return True
  return False
arr=[1,2,4,2,5,9]
check(arr)

True

### 2. Given an array and an integer k, rotate the array to the right by k steps.
###arr = [1, 2, 3, 4, 5, 6, 7] k = 3
###Output = [5, 6, 7, 1, 2, 3, 4]

In [10]:
def rotate(arr,k):
  for i in range(k):
    if arr[i]==k:
      arr=arr[k+1:]+arr[:k+1]
  return arr
arr=[1,2,3,4,5,6,7]
k=3
print(rotate(arr,k))

[5, 6, 7, 1, 2, 3, 4]

### 3. Reverse the given array in-place, means without using any extra data structure.
###arr = [2, 4, 5, 7, 9, 12]
###Output = [12, 9, 7, 5, 4, 2]

In [18]:
def reverse(arr):
  n=len(arr)
  start=0
  end=len(arr)-1
  while start < end:
        arr[start], arr[end] = arr[end], arr[start]
        start += 1
        end -=1
arr = [2, 4, 5, 7, 9, 12]
reverse(arr)
print(arr)

[12, 9, 7, 5, 4, 2]

### 4. Given an array of integers, find the maximum element in an array
###arr = [10, 5, 20, 8, 15]
###Output = 20

In [24]:
def maximum_num(arr):
  maximum=0
  for i in arr:
    if maximum<i:
      maximum=i
  return maximum
arr=[10,5,20,8,15]
maximum_num(arr)

20

### 5. Given a sorted array, remove the duplicate element without using any extra data structure.
###arr = [1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 5]
###Output = [1, 2, 3, 4, 5]

In [36]:
def remove_duplicate(arr):
    s = 1
    while s < len(arr):
        if arr[s] == arr[s - 1]:
            arr.pop(s)
        else:
            s += 1
    return arr
arr = [1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 5]
print(f"Output = {remove_duplicate(arr)}")

Output = [1, 2, 3, 4, 5]