<a href="https://colab.research.google.com/github/Dil8eep/PWSKILLS_DATA_SCIENCE-_PRO_FULLSTACK/blob/main/for_loop_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic level :

### 1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in lst:
  sum=sum+i
print("sum 0f the all numbers in the lst"sum)

55

### 3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
str="PWSKILLS"
for i in str[::-1]:
  print(i,end=" ")

S L L I K S W P

### 4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
num=int(input("enter the number:"))
fact=1
for i in range(num,1,-1):
  fact=fact*i
print("The factorial of the number is:",fact)

enter the number:5
The factorial of the number is: 120

### 5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
num=int(input("enter the number:"))
for i in range(10):
  print(num,"*",i, "=",num*i)

enter the number:5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

### 6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
count_even=0
count_odd=0
for i in lst:
  if i%2==0:
    count_even=count_even+1
  else:
    count_odd=count_odd+1
print("The count of even numbers in list:",count_even)
print("The count of odd numbers in the lis:",count_odd)

The count of even numbers in list: 5
The count of odd numbers in the lis: 5

### 7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
sqr=0
for i in range(1,6):
  sqr=i*i
  print(sqr,end=" ")

1 4 9 16 25

### 8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
str="Dileep Kumar"
count=0
for i in str:
  count+=1
print("The count of the string is:",count)

The count of the string is: 12

### 9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
sum=0
avg=0
for i in lst:
  sum=sum+i
  avg=sum/len(lst)
print("The average of the list is :",avg)

The average of the list is : 5.5

### 10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
n = 10

fib_series = [0, 1]

for i in range(2, n):
    next_number = fib_series[i-1] + fib_series[i-2]
    fib_series.append(next_number)
print(fib_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# Intermediate Level:

### 11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
lst=[2,3,4,5,3,4,6,7]
check_lst=[]
flag = True
for i in lst:
  if i not in check_lst:
      check_lst.append(i)
  else:
    flag = False
if flag:
  print("list do not contain duplicate values")
else:
  print("list contain duplicate values")

list contain duplicate values

### 12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
for i in range(2,20):
  prime=True
  for j in range(2,i):
    if i%j==0:
      prime=False
      break
  if prime:
      print(i,end=" ")

2 3 5 7 11 13 17 19

### 13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
string=input("enter the string:")
vowels="aeiou"
count=0
for i in string:
  if i in vowels:
    count+=1
print("The count of vowels in the string is:",count)

enter the string:dileep kumar
The count of vowels in the string is: 5

### 14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
matrix = [
    [3, 8, 12, 5],
    [1, 7, 10, 6],
    [9, 4, 2, 11]
]
max_element = float('-inf')
for row in matrix:
    for element in row:
        if element > max_element:
            max_element = element
print("Maximum element in the 2D list:", max_element)

Maximum element in the 2D list: 12

### 15. Create a program that removes all occurrences of a specific element from a list using a for loop.

In [ ]:
lst=[3,4,2,4,5,3,2,5,6,7]
element=int(input("enter the number:"))
for i in lst:
  if i==element:
    lst.remove(i)
print(lst)

enter the number:2
[3, 4, 4, 5, 3, 5, 6, 7]

### 16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested for loop.

In [ ]:
starting_num=1
ending_num=5
for i in range(1,11):
  for j in range(starting_num,ending_num+1):
     print(f"{j} X {i} = {j*i}\t",end="")
  print()

1 X 1 = 1	2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45
1 X 10 = 10	2 X 10 = 20	3 X 10 = 30	4 X 10 = 40	5 X 10 = 50

### 17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a for loop.

In [ ]:
farenheit=[23,33,43,53,63]
celsius=[]
for i in lst:
  c=(i-32)*5/9
  celsius.append(c)
print("The celsius of the given farenheit temperature:",celsius)

The celsius of the given farenheit temperature: [-16.11111111111111, -15.555555555555555, -15.555555555555555, -15.0, -16.11111111111111, -15.0, -14.444444444444445, -13.88888888888889]

### 18. Create a program to print the common elements from two lists using a for loop.

In [ ]:
lst1=[22,33,43,53,55]
lst2=[55,65,75,85,95]
lst3=[]
for i in lst1:
  if  i in lst2:
    lst3.append(i)
print("THe common elements of the two list:",lst3)

THe common elements of the two list: [55]

### 19. Develop a program that prints the pattern of right-angled triangles using a for loop. Use ‘*’ to draw the pattern

In [ ]:
for i in range(10):
  for j in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

### 20. Write a program to find the greatest common divisor (GCD) of two numbers using a for loop.

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

min_num = min(num1, num2)

gcd = 1

for i in range(1, min_num + 1):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i
print(f"The GCD of {num1} and {num2} is: {gcd}")

Enter the first number: 42
Enter the second number: 36
The GCD of 42 and 36 is: 6

# Advanced

### 21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
lst=[2,3,4,5,6]
total=sum(i for i in lst)
print("Total sum of the numbers in the list is:",total)

Total sum of the numbers in the list is: 20

### 22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
def prime_factors(n):
    factors = [i for i in range(2,n+1) if n%i == 0 and all(i%j != 0 for j in range(2,int(i**0.5) + 1))]
    return factors

number = int(input("enter a number : "))

result = prime_factors(number)

if len(result) == 0:
    print(f"{number} has no prime factors.")
else:
    print(f"Prime factors of {number}: {result}")

enter a number : 36
Prime factors of 36: [2, 3]

### 23. Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.

In [ ]:
lst1=[1,2,2,4,5,3,3,4,6,5,6,7,8]
lst2=set(lst1)
lst3=[i for i in lst2]
print("The unique elements of the list is :",lst3)

The unique elements of the list is : [1, 2, 3, 4, 5, 6, 7, 8]

### 24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list comprehension.

In [ ]:
lst=[i for i in range(1,101) if i>=10 and i==int(str(i)[::-1])]
print("Palindromic numbers upto 100:",lst)

Palindromic numbers upto 100: [11, 22, 33, 44, 55, 66, 77, 88, 99]

### 25. Write a program to flatten a nested list using list comprehension.

In [ ]:
nested_list = [[1, 2,3], [4, 5], [6, 7, 8]]
flattened_list = [element for sublist in nested_list for element in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

### 26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
even_sum=sum([i for i in lst if i%2==0])
odd_sum=sum([i for i in lst if i%2!=0])
print(even_sum)
print(odd_sum)

30
25

### 27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

In [ ]:
lst=[i**2 for i in range(1,11)  if i%2!=0]
print(lst)

[1, 9, 25, 49, 81]

### 28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
lst1=["name","roll no","rank"]
lst2=["Dileep","33","A"]
result={lst1[i]:lst2[i] for i in range(len(lst1))}
print(result)

{'name': 'Dileep', 'roll no': '33', 'rank': 'A'}

### 29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
str=input("Enter the string:")
vowels="aeiouAEIOU"
lst=[i for i in str if i in vowels]
print(lst)

Enter the string:dileep kumar
['i', 'e', 'e', 'u', 'a']

### 30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [ ]:
input_strings = ["abc123", "45xyz", "789", "12.34"]
cleaned_strings = [''.join(char for char in s if char.isdigit()) for s in input_strings]
print("Cleaned List:", cleaned_strings)

Cleaned List: ['123', '45', '789', '1234']

# Challenge Level:

### 31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension.

In [ ]:
def sieve_of_eratosthenes(limit):
    sieve = [True] * (limit + 1)
    sieve[0] = sieve[1] = False

    for num in range(2, int(limit**0.5) + 1):
        if sieve[num]:
            sieve[num*num : limit+1 : num] = [False] * len(range(num*num, limit+1, num))

    return [num for num in range(2, limit + 1) if sieve[num]]

limit = int(input("Enter the limit: "))
prime_numbers = sieve_of_eratosthenes(limit)

print(f"Prime numbers up to {limit}: {prime_numbers}")

Enter the limit: 30
Prime numbers up to 30: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

### 32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list comprehension.

In [ ]:

limit = int(input("enter the number:"))
triplets = [(a, b, c) for a in range(1, limit) for b in range(a, limit) for c in range(b, limit) if a**2 + b**2 == c**2]
print(f" Pythagorean triplets up to a limit {limit} is :",triplets)

enter the number:20
 Pythagorean triplets up to a limit 20 is : [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

### 33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [ ]:
lst1=[1,2,3,4,5]
lst2=["dileep","prasad","mohit","pavan","dinesh"]
lst3=[(x,y) for x in lst1 for y in lst2]
print(lst3)

[(1, 'dileep'), (1, 'prasad'), (1, 'mohit'), (1, 'pavan'), (1, 'dinesh'), (2, 'dileep'), (2, 'prasad'), (2, 'mohit'), (2, 'pavan'), (2, 'dinesh'), (3, 'dileep'), (3, 'prasad'), (3, 'mohit'), (3, 'pavan'), (3, 'dinesh'), (4, 'dileep'), (4, 'prasad'), (4, 'mohit'), (4, 'pavan'), (4, 'dinesh'), (5, 'dileep'), (5, 'prasad'), (5, 'mohit'), (5, 'pavan'), (5, 'dinesh')]

### 34. Write a program that calculates the mean, median, and mode of a list of numbers using list comprehension.

In [ ]:
numbers=[4,5,3,6,7,2,1,9,8,]
mean=sum(lst)/len(lst)
sorted_numbers = sorted(numbers)
mid = len(sorted_numbers) // 2
median = (sorted_numbers[mid] + sorted_numbers[mid - 1]) / 2 if len(sorted_numbers) % 2 == 0 else sorted_numbers[mid]
mode= max(set(numbers), key=numbers.count)
print("mean:",mean)
print("median",median)
print("mode:",mode)

mean: 5.0
median 5
mode: 1

### 35. Create a program that generates Pascal's triangle up to a specified number of rows using list comprehension.

In [ ]:
def generate_pascals_triangle(rows):
    triangle = []

    for row in range(rows):
        if row == 0:
            triangle.append([1])
        else:
            prev_row = triangle[row - 1]
            new_row = [1] + [prev_row[i - 1] + prev_row[i] for i in range(1, row)] + [1]
            triangle.append(new_row)

    return triangle
num_rows = 5
pascals_triangle = generate_pascals_triangle(num_rows)
print("Pascal's Triangle:")
for row in pascals_triangle:
    print(row)

Pascal's Triangle:
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

### 36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension.

In [ ]:
from math import factorial
result=[sum(int(digit) for digit in str(factorial(num))) for num in range(1,6)]
print(" the sum of the digits of a factorial of numbers from 1 to 5 :",result)

 the sum of the digits of a factorial of numbers from 1 to 5 : [1, 2, 6, 6, 3]

### 37. Write a program that finds the longest word in a sentence using list comprehension.

In [ ]:
string="India is my Country"
longest_word = max((word.strip(".,") for word in string.split()), key=len)
print("Longest word in the sentence:",longest_word)

Longest word in the sentence: Country

### 38. Create a program that filters a list of strings to include only those with more than three vowels using list comprehension.

In [ ]:
lst=["pwskills","diileep","mohit","prasad"]
filtered_words = [word for word in lst if sum(1 for char in word if char.lower() in 'aeiou') > 3]
print("Words with more than three vowels:", filtered_words)

Words with more than three vowels: ['diileep']

### 39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list comprehension.

In [ ]:
sum_of_digits = [sum(int(digit) for digit in str(num)) for num in range(1, 1001)]

# Printing the result
print("Sum of digits for numbers from 1 to 1000:", sum_of_digits)

Sum of digits for numbers from 1 to 1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

### 40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [ ]:
palindrome=[i for i in range(1,100) if all(num for num in range(2,int(num**0.5)+1)) and str(num)==str(num)[::-1]]

NameError: name 'num' is not defined

In [28]:
# Generate a list of prime palindromic numbers using list comprehension
prime_palindromes = [num for num in range(1, 1001) if all(num % i != 0 for i in range(2, int(num**0.5) + 1)) and str(num) == str(num)[::-1]]

# Print the result
print("Prime palindromic numbers up to 1000:", prime_palindromes)

Prime palindromic numbers up to 1000: [1, 2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]